<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="arko.chatapp">

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".Service.OfflineCapability"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo_mychat_foreground"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/logo_mychat_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SetUpActivity" />
        <activity android:name=".DeleteAccountActivity" />
        <activity
            android:name=".AddPostActivity"
            android:parentActivityName=".StartActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ThereProfileActivity" />
        <activity
            android:name=".ChangePasswordActivity"
            android:parentActivityName=".StartActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SettingActivity"
            android:parentActivityName=".StartActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".StartActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".StartActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".VideoCallScreenActivity" />
        <activity android:name=".VoiceCallScreenActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".IncomingCallScreenActivity" />
        <activity android:name=".IncomingVideoCallActivity" />
        <activity
            android:name=".ResetPasswordActivity"
            android:parentActivityName=".LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".StartActivity" />

        <service
            android:name=".Notifications.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".SinchService" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
    </application>

</manifest>